# 기타 무시할 파일 또는 폴더
.env
.DS_Store

# 가상환경 파일 무시
venv/

# 파이썬 캐시 파일 무시
*.pyc

# Ignore all __pycache__ directories
__pycache__/
**/__pycache__/

# Ignore logs directory
logs/

__pycache__/
**/__pycache__/
**/**/__pycache__/

# 개인정보가 포함된 데이터 파일 무시
/storage/input_json/restaurants/*.json
/storage/input_json/user/*.json
/storage/output_feedback_json/*.json

# 디렉토리 자체는 무시하지 않음
/storage/input_json/restaurants/.gitkeep
/storage/input_json/user/.gitkeep
/storage/output_feedback_json/.gitkeep
